@charset "UTF-8";
body{

    background-color: #5d737e;
    color: #ffddd2;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;

}
div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer{
    text-align: center;
    margin: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #83c5be;
}
footer > a{ 
    color: #ffddd2;
    text-decoration: none;
    transition-duration: 0.25s;
    padding: 4px;
}
footer > a:hover {
    color: #4ac4b7;
    border-radius: 5px;
    background-color: #6297b1;
}
