@charset "UTF-8";
body{
    background-color: #5d737e;
    color: #ffddd2;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;

}
div.video{
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer{
    margin: 80px;
    padding: 30px;
    color: #83c5be;
}
